.tc {
  min-height: 100vh;
  padding: 20px;
  color: aliceblue;
  text-align: center;
  margin:0;
  padding: 0;
  font-family: "aeonik", sans-serif;
  background-image: url(https://img.freepik.com/premium-photo/night-sky-stars-galaxies-sky-dusk_494741-58778.jpg);
}

.tc h1{
  margin-top: 2em;
  font-size: 5em;
}

.tl{
  padding: 40px;
}

.card-list {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.card {
  width: 300px;
  margin: 20px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px solid white;
  overflow: hidden;
  background-color: #000000;
  
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 20px solid white;
  
}

.card-content {
  padding: 15px;
  border-radius: 20px solid white;
}

h3 {
  margin: 10px 0;
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
  color: #666;
}

.card{
  transition: transform 0.3s ease;
  
}

.card:hover{
  transform: scale(1.2);
}

.card-list-wrapper{
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}

.search-container{
  padding: 1rem;
}

.searchbar{
  font-weight: bold;
  border: 1px solid green;
  background-color: white;
}
